:root {
  --ef-black: #191919;
  --ef-kids-pink: #ff329b;
  --ef-kids-orange: #f28529;
  --ef-kids-green: #6ad300;
  --ef-kids-blue: #009eeb;
  --font-stack: 'EF Circular Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  cursor: unset;
}

body {
  overflow-x: hidden;
  font-family: var(--font-stack);
  background-color: #fff;
}

button, input, select, option, textarea {
  font-size: 1rem;
  font-family: var(--font-stack);
}